@import 'materialize';
@import 'alert';
/*@import 'font-awesome';*/


body {
padding: 0;
margin-top: 0;
}

li {
  font-size: 19px;
}

p {
  font-size: 17px;
}

.body_width {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tram_title {
  font-size: 100px;
}

.signup_page {
  background-image: url('https://cdn.shutterstock.com/shutterstock/videos/3382730/thumb/1.jpg');
  color: silver;

}

.home_page {
  
  height: 100vh;
  // background-image: url('https://0.s3.envato.com/files/167205226/Prev%20PIC%20snow.jpg');
  background-image: url('http://snow-pictures.com/snowy-mountains/colorado-snow-scenery74.jpg');
  background-size: cover;
  // background-image: url('https://cdn.shutterstock.com/shutterstock/videos/3211894/thumb/1.jpg?i10c=img.resize(height:160)');
  color: black;
}

.home_title {
  font-size: 160px;
  margin-top: 100px;
}

.home_slogan {
  margin-top: 200px;
}

.home_btn {
  float: left;
}

.about_page {
  background-image: url('https://cdn.shutterstock.com/shutterstock/videos/3382730/thumb/1.jpg');
  height: 100vh;
  // background-image: url('https://cdn.shutterstock.com/shutterstock/videos/3211894/thumb/1.jpg?i10c=img.resize(height:160)');
  color: silver;
}

.about_tram {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

// .home_title {
//   color: silver;
// }

.developers {
  float: left;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about_me {
  margin-left: 400px;
  float: right;
  font-size: 15px;

}

.developer1 {
  float: left;
  width: 30%;
  z-index: 10px;
  background-color: cadetblue;
  padding: 10px;
  border-radius: 15px;
}

.paragraph {
  width: 65.0%;
  float: right;
  margin: 1%;
}

.driver_trip_card {
  padding: 14px;
  background-color: #A2B6C1;
  margin: 3px;
  border-radius: 8px;
}

.parent {
  background-color: #D8DEE3;
  margin-top: 10px;
  overflow: auto;
  padding: 10px;
  height: 270px;
}

.dev_name {
  text-align: center;
}

#nav {
  padding-left: 20px;
}

.trip_loop {
  float: right;
  margin-top: 32px;
  width: 50%;
  background-color: #E7EAED;
  padding: 10px;
  border-radius: 6px;
}

.rider_loop {
  float: left;
  margin-top: 54px;
  width: 45%;
  background-color: #E7EAED;
  padding: 10px;
  border-radius: 6px;
}

.car_attributes_rider {
  text-indent: 10px;
  padding-top: 5px;
}

.trip_header {
  font-size: 30px;
  text-align: center;
}

.user_header_name {
  height: 150px;
  padding: 15px;
}

.user_header_btn {
  float: right;
}

.btn {
  margin-right: 6px;
}

.cars_header {
  display: inline;
}

.manage_car {
  float: right;
  margin-right: 10%;
}

.toggle {
  float: right;
}

.collapsible-header {
  background-color: #C8D2D7;
}

.collapsible-body {
  background-color: #F6F6F7
}

.driver_trip_body {
  background-color: #F6F6F7
}

.search_bar_container {
  height: 80px;

}

.search_btn {
  float: right;
}

.search_form {
  float: left;
  width: 55%;
}

.search_header {
  float: left;
  margin-right: 20px;
}

.input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.col.s6 > .btn {
   width: 100%;
}

.input {
  font-size: 50px;
}
